* { 
    font-family: sans-serif;
    line-height: 20px;
    font-size: 14px;
    /* border: solid black 2px; */
}

html, body{
	height: 100%;
}

p {
    font-weight: bold;
}

span {
    color: #27a1e8;
    font-weight: bold;    
}

.name {
    background: #88898c;
    letter-spacing: 5px;
    font-weight: bold;
    text-align: center;
    font-size: 1em;
}

.fields {
    background: #88898c;
    letter-spacing: 4px;
    font-weight: bold;
    font-size: 1em;
    text-align: center; 
    border-radius: 50%;
}

.cyanDot{
    font-size: 4em;
    color: #27a1e8;
}

.blackDot{
    font-size: 4em;
    color: #000000;
}

.dot1{
    position: absolute;
    left: 160px;
}
.dot2{
    position: absolute;
    left: 185px;
}
.dot3{
    position: absolute;
    left: 210px;
}
.dot4{
    position: absolute;
    left: 235px;
}
.dot5{
    position: absolute;
    left: 260px;
}

@media screen and (min-width: 600px) {
    .float-left {
        width: 45%;
        float: left;
    }
    .float-right {
        width: 50%;
        float: right;
        margin: 0 auto;
    }

    .fields {
        width: 95%;
    }

    p {
        margin: 0;
    }

    ul {
         margin: 0
    }
}

/* @media screen and (min-width: 850px) {
    .maxWidth {
        width: 850px;
        margin: 0 auto;
   }
} */